body {
  background-color: lightcyan;
  font-family: Arial, sans-serif;
}
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
}
h2 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
}
h3 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
}
p {
  font-family: Arial, sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
}
label {
  font-family: Arial, sans-serif;
}
form {
  font-family: Arial, sans-serif;
}
input {
  text-align: center;
  background-color: grey;
  color: white;
}
.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
